# Copyright (c) 2026 EKS Inc.
# Created by Ryu.
# SPDX-License-Identifier: LicenseRef-EKS-NonCommercial-1.0

if SHIELD_MODU_LEFT || SHIELD_MODU_DONGLE

config ZMK_KEYBOARD_NAME
    default "Modu"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MODU_LEFT || SHIELD_MODU_RIGHT || SHIELD_MODU_PERIPHERAL_LEFT || SHIELD_MODU_DONGLE

config ZMK_SPLIT
    default y

endif
