# Copyright (c) 2026 EKS Inc.
# Created by Ryu.
# SPDX-License-Identifier: LicenseRef-EKS-NonCommercial-1.0

config SHIELD_MODU_LEFT
    def_bool $(shields_list_contains,modu_left)

config SHIELD_MODU_RIGHT
    def_bool $(shields_list_contains,modu_right)

config SHIELD_MODU_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,modu_peripheral_left)

config SHIELD_MODU_DONGLE
    def_bool $(shields_list_contains,modu_dongle)
