/*
 * Copyright (c) 2026 EKS Inc.
 * Created by Ryu.
 * SPDX-License-Identifier: LicenseRef-EKS-NonCommercial-1.0
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        ht_sft: hold_tap_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        td_bracket: td_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BRACKET";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };

        esc_tilde: esc_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "ESC_TILDE";
            bindings = <&kp ESCAPE>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ralt {
            bindings = <&kp RALT>;
            key-positions = <27 26>;
            timeout-ms = <50>;
            layers = <0>;
        };

        caps {
            bindings = <&kp CAPS>;
            key-positions = <14 15>;
        };

        cut {
            bindings = <&kp K_CUT>;
            key-positions = <37 38>;
        };

        copy {
            bindings = <&kp K_COPY>;
            key-positions = <38 39>;
        };

        paste {
            bindings = <&kp K_PASTE>;
            key-positions = <39 40>;
        };

        leftbootloader {
            bindings = <&bootloader>;
            key-positions = <60 61 62>;
        };

        rightbootloader {
            bindings = <&bootloader>;
            key-positions = <63 64 65>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------
            // |ESC | 1  | 2  | 3  | 4  | 5  |   | 6  | 7  | 8  | 9  | 0  |DEL |
            // |TAB | Q  | W  | E  | R  | T  |   | Y  | U  | I  | O  | P  |HOME|
            // |CAPS| A  | S  | D  | F  | G  |   | H  | J  | K  | L  | ;  |PGUP|
            // |LSFT| Z  | X  | C  | V  | B  |   | N  | M  | ,  | .  | /  |PGDN|
            // |LCTL|LALT|LGUI|                                 |RALT|RCTL|END |
            //                |MO1 |LANG|SPC |   |BSPC|RET |MO1 | B  |

            bindings = <
&esc_tilde           &kp N1                &kp N2       &kp N3  &kp N4  &kp N5  &kp N6       &kp N7   &kp N8     &kp N9    &kp N0     &kp BACKSPACE
&kp TAB              &kp Q                 &kp W        &kp E   &kp R   &kp T   &kp Y        &kp U    &kp I      &kp O     &kp P      &td_bracket
&lt 1 SPACE          &kp A                 &kp S        &kp D   &kp F   &kp G   &kp H        &kp J    &kp K      &kp L     &kp SEMI   &lt 1 SQT
&ht_sft LSHFT SPACE  &kp Z                 &kp X        &kp C   &kp V   &kp B   &kp N        &kp M    &kp COMMA  &kp DOT   &kp FSLH   &ht_sft RSHIFT ENTER
&kp LCTRL            &kp LALT              &sk LGUI     &none   &none   &none   &none        &none    &none      &kp RALT  &kp RCTRL  &kp DEL
&kp LANG1            &ht_sft LSHIFT SPACE  &lt 1 SPACE                          &lt 2 ENTER  &kp DEL  &mo 2      &kp B
            >;
        };

        lower_layer {
            bindings = <
&kp F1   &kp F2    &kp F3    &kp F4     &kp F5         &kp F6  &kp F7          &kp F8     &kp F9     &kp F10    &kp F11          &kp F12
&kp INS  &kp HOME  &kp UP    &kp END    &kp PG_UP      &trans  &kp KP_NUMLOCK  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_PLUS      &kp DEL
&trans   &kp LEFT  &kp DOWN  &kp RIGHT  &kp PAGE_DOWN  &trans  &mkp RCLK       &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_MINUS     &kp KP_COMMA
&trans   &trans    &trans    &trans     &trans         &trans  &mkp LCLK       &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_MULTIPLY  &kp KP_DOT
&trans   &trans    &trans    &trans     &trans         &trans  &trans          &trans     &trans     &kp KP_N0  &kp KP_DIVIDE    &kp KP_ENTER
&trans   &trans    &trans                                      &trans          &trans     &trans     &trans
            >;
        };

        layer_2 {
            bindings = <
&kp PRINTSCREEN  &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans           &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans           &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans           &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR       &bt BT_SEL 0  &bt BT_SEL 1  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bootloader
&bootloader      &trans        &trans                                &trans  &trans  &trans  &trans
            >;
        };
    };
};
